<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		<h1> <b> <font size = "14" align = 'middle'> Remote Log Viewer </font> </b> </h1r>
		
		<form class = 'form-inline' method="GET">
		<fieldtest align = "middle">
			Username: <input type = "text" placeholder= "Username" name="Username"  > </br>
			Password: <input type = "password" placeholder= "Password" name="Password"  > </br>
			<input class = "submit" type="submit" value="SUBMIT">  <input class = "reset" type="reset" value="RESET">
		</fieldtest>
		</form>	
		
	</body>
</html> 

