<html>
	<body>
		<h1> <b> <font size = "8" align = 'middle'> Remote Log Viewer </font> </b> </h1r>
	
		<fieldtest align='middle'>	
		<form class = 'form-inline' method='GET' action='login'>
			Username: <input type='text' placeholder='Username' name='Username' value=''  > </br>
			Password: <input type='password' placeholder= "Password" name='Password'  > </br>
			<input class='submit' type='submit' value="SUBMIT">  <input class='reset' type='reset' value="RESET">
		</form>	
		 </fieldtest>

		
	</body>
</html> 

